
/* PP Pangram Sans */
@font-face {
    font-family: 'PP Pangram Sans'; 
    font-style: normal; 
    font-weight: 500;
    src: url("../fonts/PPPangramSans-Medium.woff2") format('woff2'); 
}

@font-face {
    font-family: 'PP Pangram Sans'; 
    font-style: normal; 
    font-weight: 600;
    src: url("../fonts/PPPangramSans-Semibold.woff2") format('woff2'); 
}