//position
@mixin postionCt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin postionVt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin postionHr{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


//disply: flex
@mixin displayFlexSb{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

@mixin displayFlexCl{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin displayFlexRo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


$mobile: 767px; //320 최소치
$tablet: 1023px; // 768 최소치
$desktop: 1290px; //1024 최소치


/*반응형, 브라우저 크기가 767px 이하일때*/
@mixin mobile{
    @media (max-width: $mobile){
      @content;
    }
  }
  
  /*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
  @mixin tablet{
    @media (max-width: $tablet){
      @content;
    }
  }
  
  /*반응형, 브라우저 크기가 1024px 이상일때*/
  @mixin desktop{
    @media (max-width: $desktop){
      @content;
    }
  }