.main_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    // overflow-x: hidden;
}

.sc_home {
    @include displayFlexSb;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    align-content: flex-start;
    .group_title {
        position: absolute;
        flex-shrink: 1;
        flex-basis: auto;
        width: 1920px;
        height: 890px;
        inset: 0px 0px 2859.41px;
        z-index: 10;
        // place-self: auto;
        .title_inner  {
            position: absolute;
            max-width: 1920px;
            width: 1920px;
            max-height: 890px;
            height: 890px;
            inset: 0px auto auto 0px;
            padding: 0px 0px 0px 99.84px;
            .title_box {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                
                // font-size: 9.816vw;
                font-size:clamp(30px,9.816vw,120px);

                font-weight: 600;
                color: #fcfcfc;
                line-height: 1.04;
               
            }                
        }
    }
    .group_main {
        position: relative;
        flex-shrink: 1;
        flex-basis: auto;
        z-index: 5;
        width: 1920px;
        height: 1277px;
        inset: 0px;
        .thumb_box {
            max-width: 1920px;
            width: 100%;
            max-height: 1277.25px;
            height: 1277.25px;
            inset: 0px auto auto 0px;
            @include desktop{
                height: 100vh;
            }
        }
    }
    .group_sub1 {
        position: relative;
        width: 45vw;
        height: auto;
        margin-right: 3vw;
        margin-top: 12vw;
        margin-left: auto;
        // z-index: 2;       
        z-index: 15; 
    }
    .group_sub2 {
        position: relative;
        width: 49vw;
        height: 100%;
        margin-left: 6.5vw;
        margin-top: -20vw;
        z-index: 5;
    }
    .group_sub3 {
        position: relative;
        width: 38.5vw;
        margin-right: 3vw;
        margin-top: 5vw;
        z-index: 5;
    }
    .home_bg {//sc_home 공통//////
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .8;
    }
    .group_main .home_bg {
        opacity: .4;
    }
}


.sc_round {
    position: relative;
    height: 100vw;
    margin-top: -7.5vw;
    // overflow: hidden;
    .group_round {
        position: sticky;
        top: 15vw;
        height: 50vw;
        overflow: hidden;
        // left: 50%;
        // transform: translateX(-50%);
        // // inset: 0px -768px -192px 960px;
        // left: 50%;
        // transform: translateX(-50%);
        // width: 1728px;
        // height: 2074px;
        // padding: 0px 0px 346px;  

        .round_inner {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            // transform: translate(-50%, 0px);
            border-radius: 50%;
            background: #ebebea;
            width: 100%;
            max-width: 300%!important;
            height: 0!important;
            max-height: 1728px;
            padding-bottom: 100%;
            background-position-x: 0%;
            // inset: 0px auto auto 0px;
            .round {
                position: absolute;
                top: 1%;
                left: 1%;
                width: 98%;
                background: #0a0a0d;
                border-radius: 50%;
                padding-bottom: 98%;
            }
            .second {
                width: 70%;
                top: 15%;                
                left: 15%;
                background: #ebebea;
                padding: 0 0 70% 0;
            }
            .third {
                width: 68%;
                top: 16%;
                left: 16%;
                background: #0a0a0d;
                padding: 0 0 68% 0;
            }
            .four {
                width: 40%;
                top: 30%;
                left: 30%;
                background: #ebebea;
                padding: 0 0 40% 0;
            }
            .fifth {
                width: 38%;
                top: 31%;
                left: 31%;
                background: #0a0a0d;
                padding: 0 0 38%0;
            }
        }
    }
}


.sc_work {
    .group_top {
        .text_area1 {
            width: 62.5vw;
            .title {
                font-size: 6.25vw;
                font-weight: 600;
                line-height: 1.083;
                margin-bottom: 2.604vw;
            }
            .desc {
                font-size: 1.5625vw;
                margin-bottom: 2.60416vw;                
            }
        }
        .thumb_area {
            position: relative;
            margin-bottom: 2.08vw;
        }
        .text_area2 {
            width: 62.5vw;
            .desc {
                font-size: 1.1458vw;
                margin-bottom: 2.60416vw;                
            }  
        }
    }
    .group_center {
        .size1 {
            position: relative;
            width: 56vw;
        }
        .size2 {
            position: relative;
            width: 36.6666666667vw;
            margin-top: 40vw;
            .thumb_wrap {
                    height: 51.4583vw;
            }
        }
        .size3 {
            position: relative;
            width: 49.739583vw;
            margin-top: -10vw;
            .thumb_wrap {
                height: 39.114583vw;
            }
        }
        .project_link {
            &:hover {
                .hover_title, .hover_bg {
                    opacity: 1;
                }
                .project_name {opacity: 0; transform: translateY(-100%);}
                .project_tag {opacity: 1; transform: translateY(-100%);}
            }
        }
        .thumb_wrap {
            position: relative;
            height: 61.302083vw;
            margin-bottom: 1.0416vw;
            .hover_title {
                position: absolute;
                left: 2%;
                top: 50%;
                width: 96%;
                transform: translate3d(0,-50%,0);
                font-size: 3.64583vw;
                font-weight: 600;
                line-height: 1.04;
                text-align: center;
                color: $main-font-color;
                z-index: 2;
                opacity: 0;
                transition: all 0.6s ease;
            }
            .hover_bg {
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0,0,0,.4);
                width: 100%;
                height: 100%;
                z-index: 1;
                overflow: hidden;
                opacity: 0;
                transition: all 0.6s ease;
            } 
        }
        .text_wrap {
            min-height: 2.9083vw;
            overflow: hidden;
            .project_tag {
                position: absolute;
                margin-bottom: 1.82083vw;
                opacity: 0;
                transition: all 0.6s ease;
            }
            .tag {
                display: inline-block;
                height: 2.7083vw;
                font-size: 1.14583vw;
                font-weight: 600;
                line-height: 2.7083vw;
                background: #fcfcfc;
                padding: 0 1.80416vw;
                border-radius: 5.2083vw;
                margin-right: 0.52083vw;
                margin-bottom: 0.82083vw;
            } 
            .count {
                display: inline-block;
                width: 2.7083vw;
                height: 2.7083vw;
                font-size: 1.14583vw;
                text-align: center;
                line-height: 2.8083vw;
                color: $main-font-color;
                background: $main-color;
                border-radius: 50%;
            }
        }
    }
    .group_bottom {
        margin-bottom: 0 !important;
        .project_inner {
            width: 29.7916666667vw;
            transform: translateY(10vw);
            opacity: 0;
        }
        .thumb_wrap {
            position: relative;
            display: block;
            height: 42.65625vw;
            margin-bottom: 2.0833vw;
            overflow: hidden;
            .thumb_tag {
                position: absolute;
                top: 2.0833333333vw;
                right: 2.0833333333vw;
                display: inline-block;
                height: 2.34375vw;
                line-height: 2.34375vw;
                font-weight: 600;                
                color: $main-font-color;
                border-radius: 5.2083333333vw;
                background: $main-color;
                padding: 0 1.5625vw;
                z-index: 2;
            }
            img {
                transition: all 0.7s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .hide_box {
        position: absolute;
        height: calc(100% + 4px);
        width: calc(100% + 4px);
        background: #ebebea;
        right: -2px;
        bottom: -2px;
        opacity: 1;
        z-index: 30;
    }
}


.sc_activity {
    &.content_all {
        margin-top: 0 ;
        padding-top: 10.415vw;
        // padding-bottom: 20.83vw;
        // padding-bottom: 2vw;
        background: #0a0a0d;
        color: #fcfcfc;
        overflow: hidden;
        .activity_inner1 {
            padding-top: 10vw;
            overflow: hidden;
       
        }
        .content_inner {
            margin-bottom: 0 !important;
            // opacity: 0;
            // transform: translate(0px, 8vw);
        }
    }
    .group_text {
        width: 100%;
        padding-right: 2.60416vw;
        padding-left: 2.60416vw;
        .title {
            margin-bottom: 2.604vw;
        }
        .desc {
            width: 62.5vw;
            font-size: 1.1458vw;
            margin-bottom: 2.60416vw;
        }
    }
    .group_slide {
        padding: 1.30208vw 0;
        white-space: nowrap;
        display: block;
        // background: #f00;
        .slide_inner1 {
            display: flex;
            position: relative;
            inset: auto;
            width: 1820px;
            // margin-bottom: 141vw;
            // height: 4865px;///////////////
            // padding: 0px 0px 4310px;///////////
        }
        .slide_inner2 {
            display: flex;
            // flex-wrap: nowrap!important;
            max-width: 1820.03px;
            width: 1820.03px;
            max-height: 554.625px;
            height: 554.625px;
            inset: 0px auto auto 0px;
        }
        .slide_inner3 {
            display: flex;
            max-width: 9999999999999px;
            padding-right: 2.60416vw;  
            white-space: nowrap; 
        }
        .text_box {
            display: inline-block;
            position: relative;
            left: auto;
            top: auto;
            width: 35vw;
            height: 100%;
            color: rgb(10, 10, 13);
            background: rgb(252, 252, 252);
            border-radius: 0.5208vw;
            text-align: left;
            white-space: normal;
            margin-right: 2.60416vw;
            padding: 2.6vw 2.6vw 4vw;
            // transition: all 0.7s ease;
            .project_desc {
                margin-bottom: 2.60416vw;
            }
            .more_btn {
                position: absolute;
                left: 2.6vw;
                bottom: 2.6vw;
                font-size: 1.302vw;
                font-weight: 600;
                text-decoration: underline;
                color: rgb(10, 10, 13);
            }
            .project_number {
                position: absolute;
                right: 2.6vw;
                bottom: 2.6vw;
                font-size: 2.6vw;
                line-height: 1;
            }
            &:hover {
                color: $main-font-color;
                background: $main-color;
                .more_btn {
                    color: $main-font-color;
                }
            }
        }
    }
}


.sc_relation {
    position: relative;
    .relation_inner {
        margin-bottom: 0;
        opacity: 0;
        .title_area {
            line-height: 1.083;
            font-size: 6.25vw;
            font-weight: 600;
            text-align: center;
            margin-bottom: 5.208vw;
        }
        .relation_area {
            @include displayFlexSb;  
            overflow: hidden;
        }
        .relation_wrap {
            width: 19.114583vw;
            transform: translateY(10vw);
            opacity: 0;
        }
        .logo_box {
            display: flex;
            align-items: flex-end;
            height: 4.5vw;
            border-bottom: solid 1px #0a0a0d;
            padding-bottom: 1.5625vw;
            margin-bottom: 1.5625vw;
            img {
                max-width: 12.916vw;
                max-height: 100%;
                height: auto;
                vertical-align: bottom;
            }
        }
        .company {
            font-size: 1.5625vw;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 14px;
        }
        .review {
            font-size: 1.1458vw;
            margin-bottom: 2.60416vw;
        }
    }
}

.menu {
    .menu_inner {
        @include displayFlexSb;
        align-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10.416vw 5.2083vw 9.416vw 5.2083vw;
        // z-index: 3;
        background-color: #000;//임시 백그라운드, 삭제!!
        z-index: 10000;
    }
    .list_area {
        line-height: 1.8;
        .list_link {
            font-size: min(3.125vw,80px);
            font-weight: 600;
            color: #fcfcfc;
        }
    }
    .thumb_area {
        position: relative;
        max-height: 100%;
        width: 47vw;
        height: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .social_link {
        display: inline-block;
        height: 2.34375vw;
        font-size: 1.0416vw;
        font-weight: 600;
        line-height: 2.2;
        color: $main-font-color;
        background-color: $main-color;
        border-radius: 5.2083vw;
        padding: 0 1.5625vw;
        margin-right: 1.5vw;
    }
}





//////////////////////////////////////////////////////////////////


// @media screen and (max-width: 1200px) {
//     .header {
//         .group_logo {
//             width: 14vw;
//         }
//         .group_toggle {
//             font-size: 1.5vw;
//         }

//     }
//     .sc_home {
//         // .group_title {
//         //     max-width: 1200px;
//         //     width: 1200px;
//         //     max-height: 1046px;
//         //     height: 1046px;
//         //     padding: 0px 0px 0px 62.4px;
//         //     inset: 0px auto auto 0px;
//         // }
//     }
// }

// @media screen and (max-width: 1023px) {
//     /* *768을보고 잡아야함 */
  
// }

// @media screen and (max-width: 767px) {
//     /* *320을 보고 잡아야함 */
  
// }



